{% extends "base.html.twig" %}

{% block title %}Détail de la pizza {{ pizza.id }}{% endblock %}

{% block titrePage %}
    <span>la pizza</span> {{ pizza.nom }}
{% endblock %}

{% block body %}
    <ul>
        <div class="tp-detail-title">
            Prix de fabrication
            <span class="tp-detail-prix">
            {# on récupère la methode getCoutFabrication dans l'entité Pizza pour calculer de le prix de la pizza choisit et on arrondit au centime près #}
                {{ pizza.getCoutFabrication() | round(2)}}
                <span class="tp-detail-prix span">
                    €
                </span>
            </span>
        </div>
        <div class="tp-detail-title">
            Ingrédients
            {# liste du nom de chaque ingrédients de la pizza choisit #}
            <span class="tp-detail-ingredients">
                {% for listIngredient in pizza.quantiteIngredients %}
                    {{ listIngredient.ingredient.nom }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </span>
        <div>
    </ul>
{% endblock %}